#banner{
   width: calc(100% - 10px);
   height: auto;
   position: fixed;
   top: 0;
   padding: 5px;
   left: 0;
   background-color: var(--color-banner);
   /*background-color: rgba(70,70,70,0.4);*/
   border-bottom: 2px solid black;
   margin-bottom: 10%;
   z-index: 2;
   overflow-x: auto;
}

.banner-element{
   margin: 7px;
   padding-bottom: 3px;
   border-bottom: 3px solid black;
   /*border-radius: 2px;*/
}

#banner-welcome{
   margin: 0;
}

#banner-search{
   padding: 0;
   float: right;
   margin: 0;
   margin-bottom: -14px;
}