.info-link{
   
}

.info-page-header{
   display: block;
   margin-top: 4em;
}

.info-page-back-link{
   font-style: italic;
}

.info-body{
   outline: 1px solid black;
   background-color: var(--color-i-base);
   background-color: var(--color-i-body);
   padding: 3px;
}

.info-group{
   outline: 1px solid black;
   background-color: var(--color-i-base);
   background-color: var(--color-i-group);
   padding: 3px;
}
.info-group:not(:last-child){
   margin-bottom: 5px;
}

.info-content{
   outline: none;
   padding: 0;
   margin: 3px;
   margin-left: 0;
   margin-top: 0;
}

.info-group-text{
   
}

.ih{
   width: calc(100% - 10px + 6px);
   margin: -3px;
   margin-bottom: 4px;
   padding: 5px;
   border-bottom: 1px solid black;
}

.info-body-header{
   background-color: var(--color-i-body-header);
   font-weight: bold;
}

.info-group-header{
   background-color: var(--color-i-group-header);
   font-weight: bold;
   font-style: italic;
}

.info-nested-header{
   background-color: var(--color-i-nested-header);
   /*font-weight: bold;*/
   font-style: italic;
}

.info-table{
   border-collapse: collapse;
   overflow-x: auto;
   /*margin: 3px;*/
   outline: 1px solid black;
   background-color: var(--color-i-base);
}
.info-table-data:not(:first-child), .info-table-header:not(:first-child){
   border-left: 1px solid black;
}

.info-table-row{
   
}

.info-table-header{
   padding-left: 5px;
   padding-right: 5px;
   text-align: left;
   border-bottom: 1px solid black;
   /*background-color: rgba(180,255,170,1);*/
   background-color: var(--color-i-nested-header);
}

.info-table-data{
   padding-left: 5px;
   padding-right: 5px;
   text-align: left;
   /*border-bottom: 1px dotted rgb(100,100,100);*/
}
.info-table-row:not(:last-child){
   border-bottom: 1px dotted rgb(50,50,50);
}